*.pdf
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.synctex.gz.sum.synctex
/subfiles/*.synctex.gz.sum.sycntex
/subfiles/*.synctex.gz
.DS_Store
*.fls
*.fdb_latexmk
*.swp
*.swo
/Spss/*
*.4ct
*.4tc
*.css
*.idv
*.tmp
*.xref
*.lg
*.svg
